*.js linguist-detectable=false
*.ts linguist-detectable=false
*.css linguist-detectable=false
*.scss linguist-detectable=false
*.html linguist-detectable=false
*.ipynb linguist-detectable=false
*.py linguist-detectable=false
*.rb linguist-detectable=false
*Gemfile* linguist-detectable=false
